body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffe89b;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;

}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li {
    padding: 0;
    margin: 0;
}

header nav a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav a:hover {
    background-color: #ddd;
}

main {
    padding: 100px 0;
}

.fruits {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 800px;
}

.fruits h2 {
    margin: 0;
    padding: 0;
  
}

.fruits ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.fruits li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.fruits li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.fruits li span {
    margin-left: 10px;
}

.contact {
	background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
}

.about {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
}
